.hiddinput {
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.hiddinput label {
	cursor: text;
}

.hiddinput .anchor-border {
	cursor: text;
	display: inline-block;
	padding: .3em .4em;

	border: 1px solid rgba(0,0,0,0);
	border-radius: 3px;

	-webkit-transition: border .5s; /* For Safari 3.1 to 6.0 */
    transition: border .5s;
}
.hiddinput .anchor-border:hover {
	border: 1px solid rgba(150,150,150,1);
	-webkit-transition: border .5s; /* For Safari 3.1 to 6.0 */
    transition: border .5s;
}

.hiddinput .edit-box {
	background-color: #B1B1B1;
	border-radius: 3px;
	z-index: 1000;
}

.hiddinput input {
	vertical-align: middle;
}

.hiddinput .the-input{
	border: 1px solid rgba(150,150,150,1);
	border-radius: 3px;
	padding: .3em .4em;
	font-size: 12px;
	outline: none;
}

.hiddinput input[type~="submit"], input[type~="button"]{
	background-color:  #FFFFFF;
	border: none;
	border-radius: 3px;
	margin: 0 .3em;
	cursor: pointer;
}

.hiddinput input[type~="submit"]:hover {
	background-color: #2973E3;
	color: #FCFCFC;
	border: none;
	border-radius: 3px;
	margin: 0 .3em;
	cursor: pointer;
}
input[type~="button"]:hover {
	background-color: #E83131;
	color: #FCFCFC;
	border: none;
	border-radius: 3px;
	margin: 0 .3em;
	cursor: pointer;

}